/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *:: before, *:: after {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #355c7d;
  font-family: Montserrat, sans-serif;
  font-size: 1.2em;
  color: #131e27;
  min-height: 100vh;
}
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header {
  color: inherit;
}
.home-main-text-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 80px;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.mainNav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainNav a {
  color: inherit;
  text-decoration: none;
  padding: 2rem;
}

.mainNav a:hover {
  color: #637381;
}
.full-height-grow {
  display: flex;
  flex-direction: column;
}

.titleName {
  color: inherit;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
.home-main-text-title {
  font: inherit;
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 1rem;
  margin-top: 0;
}
.paragraphBody {
  font: inherit;
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 2em;
}
.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article {
  position: absolute;
  width: 547px;
  height: 926px;
  right: 98px;
  top: 74px;

  font-family: Hind;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;

  color: #131e27;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#portrait {
  position: absolute;
  width: 132px;
  height: 204px;
}
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
