/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *:: before, *:: after {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #355c7d;
  font-family: Montserrat, sans-serif;
  font-size: 1.2em;
  color: #131e27;
  min-height: 100vh;
}

header {
  color: inherit;
}
.home-main-text-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 80px;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.mainNav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainNav a {
  color: inherit;
  text-decoration: none;
  padding: 2rem;
}

.mainNav a:hover {
  color: #637381;
}
.full-height-grow {
  display: flex;
  flex-direction: column;
}

.titleName {
  color: inherit;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
.home-main-text-title {
  font: inherit;
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 1rem;
  margin-top: 0;
}
.paragraphBody {
  font: inherit;
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 2em;
}
.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}
.home-main-section .home-main-img-box {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}
.home-main-section .selfPortraitImg {
  background-image: url(images/SelfPortraitCartoon.png);
  flex-grow: 1;
  max-height: 70vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
